
MONAD_RPC_URL=
ARBITRUM_SEPOLIA_RPC_URL=

PRIVATE_KEY=
ETHERSCAN_API_KEY=

TOKENS_REGISTRY_CONFIG=
RISK_PARAMETERS_CONFIG=

INCENTIVES_CONFIG=
INCENTIVES_REWARD_TOKEN=
INCENTIVES_REWARDS_VAULT=
INCENTIVES_DISTRIBUTION_END=
INCENTIVES_REWARD_ORACLE_ANSWER=
INCENTIVES_REWARD_ORACLE_DECIMALS=

SIMULATION_PRANK=
