[profile.default]
src = "src"
out = "out"
libs = ["lib"]
gas_reports = ["*"]
optimizer = true
optimizer_runs = 200
via_ir = true

[profile.ci]
fuzz = { runs = 256 }
invariant = { runs = 256 }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
